.ant-switch {
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
}
.app-spin {
	margin-top: 300px;
}
.ant-layout-header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
	width: 100%;
	padding: 0px 10px;
	background-color: $white;
	box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 4px;
	.logo {
		float: left;
		height: 32px;
	}
	.ant-menu {
		width: 100%;
		justify-content: end;
	}
	.ant-space-item {
		display: flex;
	}
}
.ant-layout-content {
	background-color: $white;
	margin-top: 115px;
	height: calc(calc(var(--vh, 1vh) * 100) - 115px);
	overflow-x: hidden;
}

.public-routes {
	.ant-layout-content {
		margin-top: 65px;
		height: calc(calc(var(--vh, 1vh) * 100) - 65px);
	}
	&.ant-layout {
		background: none !important;
	}
}
// .instant-chat {
// 	.ant-layout-content {
// 		margin-top: 60px;
// 		height: calc(calc(var(--vh, 1vh) * 100) - 60px);
// 	}
// }
.ant-input-status-error,
.ant-input,
.ant-select,
.ant-picker,
.ant-select-selector,
.ant-select-error-status,
.ant-input-affix-wrapper-status-error,
.ant-input-affix-wrapper-status-success,
.ant-input-password {
	box-shadow: none !important;
}
@media (max-width: 748px) {
	.ant-layout-header {
		.greeting {
			display: none;
		}
	}
}
.notifications {
	min-width: 250px;
	max-width: 400px;
	padding: 10px;
}

.ant-table-wrapper {
	.ant-table-thead > tr > th {
		background-color: $cardHeader;
		color: $dark;
		font-weight: 600;
		font-size: 14px;
		padding: 5px 2px;
	}
	.ant-table-tbody > tr > td {
		padding: 2px;
	}
	.ant-table-content {
		overflow: auto hidden;
	}
}

.ant-menu-submenu-selected {
	color: $primary !important;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active:after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open:after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected:after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover:after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active:after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open:after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected:after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover:after {
	border-bottom: 2px solid $primary;
}
.ant-checkbox-checked {
	.ant-checkbox-inner {
		background-color: $success;
		border-color: $success;
	}
}
.ant-form-item {
	margin-bottom: 10px;
	.ant-select,
	.ant-picker {
		width: 100%;
	}
	.ant-select-clear {
		svg {
			vertical-align: baseline;
		}
	}
	label {
		font-size: 16px;
		font-weight: bold;
		color: $muted;
	}
}
.ant-modal-mask {
	z-index: 1031;
}
.ant-modal-wrap {
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1031 !important;
	.ant-modal {
		top: 10px;
		padding-bottom: 10px;
		.ant-modal-content {
			display: flex;
			flex-direction: column;
			.footer {
				display: flex;
				margin-right: 25px;
				float: right;
			}
		}
	}
	.antd-previewModal {
		top: 0;
		padding-bottom: 0px;
		min-width: 80% !important;
		margin: 10px 10px 10px auto !important;
		.ant-modal-content {
			min-height: calc(calc(var(--vh, 1vh) * 100) - 20px) !important;
			.ant-modal-body {
				padding: inherit;
				overflow-y: scroll;
			}
		}
	}
	.antd-modal-right {
		padding-bottom: 0px;
		top: 0;
		width: 480px !important;
		margin: 10px 10px 10px auto;
		.ant-modal-content {
			min-height: calc(calc(var(--vh, 1vh) * 100) - 20px) !important;
			h5 {
				line-height: 1.2;
			}
			.ant-modal-body {
				overflow-y: scroll;
			}
		}
	}
}

@media (max-width: 767px) {
	.ant-modal-wrap {
		overflow-x: hidden;
		margin-right: 10px;
		.antd-modal-right,
		.antd-previewModal {
			margin: 10px;
			.ant-modal-content {
				width: calc(100vw - 10px);
				overflow-x: hidden !important;
			}
		}
	}
}
@media (min-width: 1025px) {
	.ant-modal-wrap {
		.login-modal {
			width: 800px !important;
			.ant-modal-content {
				max-width: 800px !important;
			}
		}
	}
}
@media (max-width: 450px) {
	.ant-modal-wrap {
		.login-modal {
			.ant-modal-content {
				margin: auto 2px;
				left: 6px;
			}
		}
	}
}

.ant-avatar-string {
	font-size: small;
	text-transform: uppercase;
}

.ant-notification {
	z-index: 1032;
	.ant-notification-notice-content {
		padding: 0px 5px 0px 0px;
	}
}
