$primary: #dc3545;
$additional: #0571c4;
$secondary: #605e5c;
$light: #f3f2f1;
$dark: #323130;
$danger: #eb5757;
$transparent: transparent;
$bg: #f4f5fa;
$success: #28a746;
$warning: #ffc107;
$white: #ffffff;
$muted: #6c757d;
