@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.labsavvy {
	// .jaishu {
	$primary: #5a4a9f;
	$link-secondary: #00b9ff;
	$green: #61ce70;
	$secondary: #605e5c;
	$light: #f3f2f1;
	$dark: #000000;
	$danger: #c02b0a;
	$transparent: transparent;
	$bg: #f4f5fa;
	$success: #28a746;
	$warning: #ffc107;
	$white: #ffffff;
	$muted: #dddddd;

	font-family: 'Open Sans', sans-serif;
	.form-control {
		background-color: transparent;
		border-width: 1px;
		border-color: $muted;
		border-radius: 2px;
		color: $dark !important;
		font-weight: 400;
	}
	.participants-section .list-group-item .btn-link {
		color: $link-secondary;
	}
	.form-group label {
		font-weight: 400;
		color: $dark;
	}
	.appointment-table .table-striped thead th {
		color: $primary;
		background-color: $light;
	}
	h4 {
		color: $primary;
		font-weight: 400;
	}
	.btn-primary {
		background-color: $link-secondary !important;
		border-color: $link-secondary !important;
		border-radius: 25px;
		&:active {
			background-color: $link-secondary !important;
			border-color: $link-secondary !important;
		}
	}
	.btn-outline-primary {
		color: $link-secondary;
		background-color: transparent;
		border-color: $link-secondary;
		border-radius: 25px;
		&:hover {
			color: $white;
			background-color: $link-secondary;
			border-color: $link-secondary;
		}
		&:active {
			background-color: $link-secondary !important;
			border-color: $link-secondary !important;
		}
	}
	.date-filter .active {
		background-color: $link-secondary !important;
		border-color: $link-secondary !important;
		color: $white !important;
	}
	.btn .btn-primary {
		border-radius: 25px;
		background-color: $link-secondary;
		border-color: $link-secondary;
	}
	.btn-success {
		border-radius: 25px;
	}
	.btn-danger {
		border-radius: 25px;
	}
	.btn-secondary {
		border-radius: 25px;
	}
	.rdtPicker {
		thead {
			background-color: rgba($color: $primary, $alpha:1);
		}
		td.rdtActive {
			background-color: $primary !important;
		}
	}
	.text-primary {
		color: $primary !important;
	}
	.btn-link {
		color: $link-secondary;
	}
	.toast {
		background-color: $link-secondary !important;
		color: $white !important;
	}

	.login a {
		color: $primary;
		text-decoration: none;
		&:hover {
			color: $link-secondary;
			text-decoration: underline;
		}
	}
	.payments-table th {
		background-color: $light !important;
		color: $primary !important;
	}
	.chat-page .chat-header {
		background-color: $primary;
		button {
			background-color: $primary;
		}
	}
	.create-chat-section .create-chat-header {
		background-color: $primary;
		button {
			background-color: $primary;
		}
	}
	.nav-link.active {
		background-color: $primary !important;
		border-color: $primary !important;
		color: $white !important;
	}
	.dropdown-item {
		color: $primary;
		&:active {
			background-color: $primary !important;
			color: $white;
		}
	}
	.badge-primary {
		background-color: $primary;
		color: $white;
	}
	.start-conference {
		background-color: $link-secondary !important;
	}
	.settings-preconfig .content .group-switch .group-enable .enable-item input:checked + label::before {
		background: $link-secondary;
	}
	.settings-preconfig .content .loadbar li > .ins {
		background-color: $link-secondary;
	}
	.bar.ins {
		background-color: $link-secondary !important;
	}
	.chat-page {
		.chat-header {
			color: $white;
			.chat-icon {
				color: $white;
			}
		}
	}
	.live-caption-container .form-control {
		background-color: $white !important;
	}
	.add-participant-modal .modal-body .col-title {
		color: $link-secondary !important;
	}
}
