.header-container {
	height: 125px !important;
	position: fixed !important;
	z-index: 99;
	width: 100%;
	color: $white;
	// background-color: $primary !important;
	.ant-layout-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 10px 0 0 !important;
		background-color: $primary !important;
		box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 4px;
	}
	.logo {
		height: 60px;
		margin: 0px 10px;
		background-color: $white;
		border-radius: 3px;
	}
	// .ant-card {
	.ant-card-head {
		background-color: $cardHeader;
		border-bottom-color: $warning;
		color: $dark;
		font-weight: 600;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		padding: 5px;
		min-height: 0;
		.ant-card-head-title {
			padding: 0;
		}
	}
	// }
	.ant-menu {
		background-color: $primary;
		color: $white;
		font-weight: 600;
		margin-right: 15px;
		height: 50px;
		width: 100%;
		font-size: medium;
		// margin-top: 75px;
		// background-color: aqua;
		align-items: center;
	}
	.menu-bar {
		margin-top: 64px;
		background-color: #f2f2f2;
		color: $dark;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.menu-container {
		width: inherit;
	}
	.ant-menu-inline,
	.ant-menu-vertical,
	.ant-menu-vertical-left {
		border-right: 0px !important;
	}
	.ant-menu-item {
		:hover {
			// color: $white;
			text-decoration: solid;
		}
	}
	.ant-menu-horizontal {
		border-bottom: 0px;
	}
	.header_logo {
		background-color: $white;
	}

	.menu-icon {
		padding: 0 16px;
	}

	.ant-drawer-top {
		top: 100px !important;
	}
}
