.ant-layout-sider {
	margin-top: 100px;
	height: calc(calc(var(--vh, 1vh) * 100)-100px);
	background: $white !important;
	.ant-menu {
		height: calc(calc(var(--vh, 1vh) * 100) - 100px);
		width: 200px;
		box-shadow: 0px 0px 10px rgba($color: $secondary, $alpha: 0.2);
		overflow: auto;
	}
	.menu-title {
		font-size: medium;
		font-weight: 600;
	}
	.ant-collapse-content > .ant-collapse-content-box {
		flex-wrap: wrap;
		padding: 0px 0px 0px 40px;
		font-size: small;
		font-weight: 600;
	}

	.ant-btn.ant-btn-block {
		text-align: left;
		padding-left: 0px;
		white-space: pre-wrap;
		height: auto;
		// font-weight: 600;
	}
	// .ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
	// 	width: 50px;
	// 	border: none;
	// }
}
