.ant-layout-sider {
	height: calc(calc(var(--vh, 1vh) * 100)-115px);
	background: $white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	.ant-card {
		background-color: transparent;
		margin-top: 10px;

		border-top-right-radius: 8px;
		.ant-card-head {
			background-color: $cardHeader;
			border-bottom-color: $warning;
			color: $dark;
			font-weight: 600;
			// border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			padding: 5px;
			min-height: 0;
			.ant-card-head-title {
				padding: 0;
				// padding-top: 10px;
			}
		}
	}
}
